.__react_component_tooltip {
  font-size: 10px !important;
  padding: 6px 13px !important;
}
.__react_component_tooltip.type-dark {
  background-color: #555 !important;
}
.__react_component_tooltip.type-dark.place-bottom:after {
  border-bottom-color: #555 !important;
}
